@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Fragment';
  src: url('./Assets/Fonts/PPFragment-TextRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Mori';
  src: url('./Assets/Fonts/PPMori-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
